@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/*=============== BASE ===============*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* user-select: none; */
}
html{
    scroll-behavior: smooth;
}
body,button,input{
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

body{
    /* background-color: gray; */
    /* background-image: url(https://media.istockphoto.com/id/1301155516/photo/dark-blue-retro-grunge-background-brick-wall-texture-old-shabby-brickwork.jpg?s=612x612&w=0&k=20&c=23Mql5cx4hsHh5cYt57v6gH8BPyflkj3aOwrUINXtPU=) ; */
    /* background-size: cover;
    background-position: center; */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    /* background-image: linear-gradient(to right, #09203f 0%, #537895 100%); */
    color: white;
}


h1,h2,h3{
    color: white;
    font-weight: 600;
}
ul{
    list-style: none;
}

a{
    list-style: none;
    text-decoration: none;
}
i{
    display: inline-block;

}
img{
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
button,input{
    border: none;
    outline: none;
}

/*=============== LAYOUT ===============*/
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: grid;
}








/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    min-height: 100vh;
    padding: 6.5rem 0 2rem;
}
.section_title{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 48px;
    position: relative;
}

.section_title::before{
    transition: all .3s;
    transform-origin: center;
    content: attr(data-heading);
    display: block;
    font-size: 1vw;
    font-weight: 500;
    color: var(--skin-color);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}



/*=============== SIDEBAR ===============*/
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    /* background-color: gray; */
    border-right: 1px solid rgba(255, 255, 255, 0.419);
}
.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
}

.nav_logo-text{
    font-size: 1.3vw;
    color: white;
    font-weight: 600;
    line-height: 40px;
}
.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}
.menu{
    display: flex;
}
.nav_list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}
.nav_link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 .8vw;
    font-size: 1.3vw;
    color: white;
    font-weight: 500;
    position: relative;
    transition: .4s;
}
.btn_share{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
}
.social_share{
    font-size: 2vw;
    cursor: pointer;
}
/* Active Link */
.nav_link.active-link, .nav_link:hover{
    color: var(--skin-color);
}
.nav_link.active-link::after, .nav_link:hover::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
}

/*=============== MAIN ===============*/
.main{
    margin-left:100px ;
}

/*===== Home Section =====*/
.home{
    background-image: url(../img/home-imag-2.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position:90% bottom;
    height: 100vh;

}
.home_container{
    position: relative;
    height: 100%;
    align-items: center;
}
.home_social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}
.home_social-follow{
    font-weight: 500;
    position: relative;
}
.home_social-follow::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: white;
    right: -45%;
    top: 50%;
}
.home_social-links{
    display: inline-flex;
    column-gap: 16px;
}
.home_social-link{
    font-size: 1.5vw;
    color: white;
    transition: .4s;
    padding: 0 5px;
    border-radius: 5px;
}
.home_social-link:hover{
    transform: translateY(4px);
    color: var(--skin-color);
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.home_title{
    font-size: 4vw;
    margin: 10px 0;
}
.home_title span{
    color: var(--skin-color);
    position: relative;
    transition: all .3s;
}
.home_title span:hover{
    color: white;
}
.home_title span::after{
    transition: all .3s;
    content: "Nilendra Patel";
    position: absolute;
    left: 0;
    top: 6px;
    /* border: 1px solid red; */
    height: 4.8vh;
    overflow: hidden;
    width: 25.5vw;
    line-height: 1;
    color: white;
}
.home_title span:hover::after{
    color: var(--skin-color);
}


.home_subtitle{
    font-size:1.8vw;
    font-weight: 500,;
    margin-bottom: 12px;
    width: fit-content;
    padding: 10px 15px;
    border: 2px solid var(--skin-color);
    border-radius: 10px;
}
.home_subtitle:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.home_description{
    font-size: 1.3vw;
    max-width: 550px;
}
.home-btn-div{
    margin-top: 60px;
}

.my_info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}
.info_item{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}
.info_item:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.info_item span{
    color: var(--skin-color);
}
.info_title,.info_subtile{
    font-size: 1.5vw;
}
.info_title{
    font-weight: 500;
}
.info_icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: 12px;
}




/*===== Buttons =====*/
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: white;
    padding: .75rem 1.4rem;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.button::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform: scale(0);
    border-radius: 4px;
    transform-origin: center;
    transition: .3s;
}
.button:hover::after{
    transform: scale(1);
    border: 2px solid var(--skin-color);
}
.button_icon{
    font-size: 14px;
}

/*===== About Section =====*/
.about_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    align-items: center;
}
.about_img{
    width: 430px;
    border-radius: 0.75rem;
    border:4px solid var(--skin-color);
    justify-self: center;
    padding: 5px;
    overflow: hidden;
    transition: all .5s;
}
.about_img:hover{
    box-shadow: 5px 5px 20px var(--skin-color), -5px -5px 20px var(--skin-color);
}
.about_heading{
    font-size: 2vw;
    margin-bottom: 20px;
}
.about_heading span{
    transition: all .5s;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid var(--skin-color);
}
.about_heading span:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.about_description{
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: 32px;
    font-size: 1.15vw;
}
.about_description span{
    color: var(--skin-color);
}
.about_info{
    grid-template-columns: repeat(3, 140px);
    column-gap: 20px;
    margin-bottom: 48px;
}
.about_box{
    text-align: center;
    border-radius: 10px;
    padding: 1vw 10px;
    transition: .3s;
    border: 4px solid var(--skin-color);
    /* background-color: rgba(255, 255, 255, 0.19); */
    /* background-color:var(--skin-color); */
}
.about_box:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    scale: 1.1;
    background-color: black;
}
.about_icon{
    font-size: 3vw;
    color :var(--skin-color);
    margin-bottom: 12px;
}
.about_title{
    font-size: 1.2vw;
}
.about_subtitle{
    font-size: 1vw;
    color: white;
}


/*===== Qualification Section =====*/
.qualification_container{
    grid-template-columns: repeat(2, 550px);
    column-gap: 3rem;
    justify-content: center;
    padding-left: 100px;
}
.qualification_title{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 32px;
    border: 2px solid var(--skin-color);
    width: fit-content;
    padding: 5px 10px;
}
.qualification_title:hover{
box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
}
.timeline_item{
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px;
}
.timeline_item:last-child{
    margin-bottom: 0;
}
.timeline_item::before{
    content: "";
    width: 1px;
    position: absolute;
    left: 1vw;
    top: 2vw;
    height: 100%;
    background-color: var(--skin-color);
}
.circle_dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 2vw;
    width: 2vw;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    transition: .3s;
}
.timeline_item:hover .circle_dot{
    background-color: var(--skin-color);
}
.timeline-title{
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 7px;
}
.timeline_item:hover .timeline-title{
    color: var(--skin-color);
}
.timeline_text{
    font-size: 1.2vw;
    margin-bottom: 8px;
    opacity: .8;
    font-weight: 100;
    display: flex;
    gap: 10px;
}
.timeline_date{
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    color: var(--skin-color);
    display: flex;
    gap: 10px;
}


/*===== Skills Section =====*/
.skills_container{
    grid-template-columns: 400px 320px;
    column-gap: 3rem;
    justify-content: center;
}
.skills_header{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
}
.skills_header:not(:last-child){
    margin-bottom: 40px;
}
.skills_icon, .skills_arrow{
    font-size: 3vw;
    color: var(--skin-color);
}
.skills_icon{
    margin-right: 12px;
}
.skills_title{
    font-size: 1.4vw;
    font-weight: 600;
}
.skills_subtitle{
    font-size: 1.2vw;
    color: var(--skin-color);
}
.skills_arrow{
    margin-left: auto;
}
.skills_active .skills_arrow{
    transform: rotate(-90deg);
    transition: .3s;
}
.skills [data-content]{
    display: none;
}
.skills_active[data-content]{
    display: block;
}
.skills_list{
    row-gap: 2.5rem;
}
.skills_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.skills_name{
    /* background-color: red; */
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 500;
    color: var(--skin-color);
}
.skills_bar{
    height: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.skills_bar small{
    height: fit-content;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.skills_bar small i{
    color: var(--skin-color);
}
.skills_bar .d-none{
    display: none;
}




/*===== Work Section =====*/
#work{
    min-height: 130vh;
    position: relative;
}
.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
    margin-top: 2rem;
}
.work_item{
    cursor: pointer;
    color: white;
    padding: 4px .75rem;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.3vw;
}
#photo-box{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0 40px 25px;
    margin-left: 0;
    max-width: 100vw;
    margin-right: 0;
}
#photo-box::-webkit-scrollbar{
    display: none;
}


.work_item:hover{
    text-decoration-line: underline;
    text-decoration-color: var(--skin-color);
}
.work_container{
    grid-template-columns: repeat(3,460px);
    gap: 60px;
    justify-content: center;
    padding-top: 40px;
}
.work_card{
    width: 30%;
    height: fit-content;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    border-radius: 10px;
}
.work_card:hover{
    background-color: black;
}
.portfolio_item-details{
    /* display: none; */
    padding: 10px 20px 30px;
} 
.work_img{
    border-radius: 8px;
    margin-bottom: 16px;
    transition: all 1s ease;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
}
.work_card:hover .work_img{
    scale: 1.2;
}
.work_title{
    font-size:1.5vw ;
    font-weight: 500;
    margin-bottom: 5px;
}
.work_button{
    color: var(--skin-color);
    font-size: 1vw;
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}
.work_button-icon{
    font-size: 1rem;
    transition: .3s;
}
.work_button:hover .work_button-icon{
    transform: translateX(4px);
}


/* Active Item Work */
.active-work{
    background-color: var(--skin-color);
    color: white;
}

/* Portfolio Popup */
.portfolio_popup{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;   
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s;                             
}
.portfolio_popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio_popup-inner{
    background-color: rgba(255, 255, 255, 0.419);
    width: 900px;
    border-radius: 8px;
    padding: 2.5rem;
    position: relative;
}
.portfolio_popup-content{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}
.portfolio_popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}
.portfolio_popup-img{
    border-radius: 8px;
}
.portfolio_popup-subtitle{
    font-size: .84vw;
    margin-bottom: 4px;
}
.details_title{
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--skin-color);
    text-transform: uppercase;
}
.details_description{
    font-size: 1vw;
    margin-bottom: 12px;
}
.details_info li{
    margin-bottom: 12px;
    text-transform: capitalize;
    font-size: 1vw;
}

.details_info li:last-child{
    margin-bottom: 0;
}
.details_info li span{
    
    font-weight: bold;
    text-decoration-color: var(--skin-color);
    
}
.details_info .viewProject{
    border: .1px solid var(--skin-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: springgreen;
    width: fit-content;
}
.details_info li a{
    text-transform: lowercase;
    color: var(--skin-color);
}

.view_all{
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    bottom: -30px;
    right: 20px;
    transform: translate(-50%,-50%);
}



/*===== Services Section =====*/


/* Active Modal*/


/*===== Testimonial Section =====*/


/* Swiper Class */


/*===== Contact Section =====*/
#contact{
    margin-bottom: 60px;
}
.contact_container{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}
.contact_info{
    display: grid;
    row-gap: 3rem;
}
.contact_card{
    /* background-color: rgba(255, 255, 255, 0.419); */
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
    
}
.contact_card:hover{
    background-color: black;
}
.contact_card-icon{
    font-size: 1.8rem;
    color:var(--skin-color);
    margin-bottom: 4px;
}
.contact_card-title,
.contact_card-data{
    font-size: 500;
}
.contact_card-title{
    font-weight: 500;
}
.contact_card-data{
    display: block;
    margin-bottom: 12px;
}
.contact_button{
    color:var(--skin-color);
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    cursor: pointer;
}
.contact_button-icon{
    font-size: 1rem;
    transition: .3s;
}
.contact_button:hover .contact_button-icon{
    transform: translateX(4px);
}
.input_container{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
}
.input_container:hover{
    background-color: black;
}
.input{
    cursor: pointer;
    width: 100%;
    border: 2px solid rgba(44, 43, 43, 0.468);
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: .5px;
    border-radius: .50rem;
    transition: .3s;
    outline: none;
}
textarea.input{
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}
.input_container label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 1000;
    transition: .5s;
}
.input_container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.input_container span{
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: 0.91vw;
    padding: 0 .4rem;
    pointer-events: none;
    z-index: 500;
}
.input_container span::before,
.input_container span::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: #0B0F1A;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 10px 5px;
}
.input_container span::before{
    border-radius:0 10px 10px 0;
    left: 50%;
}
.input_container span::after{
    border-radius:10px 0 0 10px;
    right: 50%;
}
.input_container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: .84vw;
}
.input_container.focus span::before,
.input_container.focus span::after{
    width: 50%;
    opacity: 1;
}
/*=============== FOOTER ===============*/
.footer{
    padding-top: 2rem;
}
.footer_container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
}
.footer_bg{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    /* background-color: rgba(255, 255, 255, 0.516); */
    padding: 1rem 3.5rem;
    margin: 10px;
}
.footer_title{
    margin-left: -50px;
    font-size: 2vw;
    margin-bottom: 8px;
}
.footer_title span:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;  
}
.footer_subtitle{
    margin-left: -50px;
    font-size: 0.91vw;
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
}
.footer_links{
    display: flex;
    justify-self: center;
    column-gap: 2rem;
}
.footer_link:hover{
    color: var(--skin-color);
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
}
.footer_socials{
    justify-self: center;
}
.footer_socials i{
    color: white;   
    font-size: 2vw;
    z-index: 999;
}
.footer_socials i:hover{
    color: var(--skin-color);
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 2px;
    border-radius: 10px;
}
.footer_social{
    /* font-size: 14px; */
    margin-right: 24px;
}


.footer_copy{
    font-size: 1.5vw;
    text-align: center;
    /* margin-top: 4.5rem; */
}
.footer_copy i{
    color: var(--skin-color);
}
.footer_copy span{
    font-family: yank;
    font-weight: bold;
    color: var(--skin-color);
}
.footer_copy span:hover{
    box-shadow: 2px 2px 10px var(--skin-color), -2px -2px 10px var(--skin-color);
    padding: 5px;
    border-radius: 10px;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_socail{
    color: white;
    opacity: 1;
}
/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: 0.6rem;
    background-color:black;
}
::-webkit-scrollbar-thumb{
    background-color:var(--skin-color);
    border-radius: 8px;
}


.device_mess{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 4vw;
    width: 80%;
}


@media (max-width:1300px) {

    #loader, .sidebar, .main{
        display: none;
    }
}
@media (min-width:1300px) {
    .device_mess{
        display: none;
    }
}
@media (max-width:800px) {
    .device_mess{
        width: 60%;
        font-size: 6vw;
    }
}







/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Style Switcher */
.style-switcher{
    position: fixed;
    right: 0;
    top: 10px;
    padding: 15px;
    width: 200px;
    border: 1px solid black;
    background: white;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(-2%);
}
.style-switcher i{
    font-weight: bold;
    font-size: 1.7vw;
}
.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: white;
    color: black;
    right: 100%;
    border: 1px solid black;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    line-height: 40px;
}
.style-switcher .style-switcher-toggler{
    top: 0;
}
.style-switcher .day-night{
    top: 55px;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: black;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
}
.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* border: 1px solid red; */
    cursor: pointer;
}
.style-switcher .color-1{
    background: #ec1839;
}
.style-switcher .color-2{
    background: springgreen;
}
.style-switcher .color-3{
    background: royalblue;
}
.style-switcher .color-4{
    background: rgb(41, 233, 233);
}
.style-switcher .color-5{
    background: #7d0317;
}